version: '3'

services:

  blog:
    build: .
    restart: always
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      - ./blog:/home/blog/blog:rw
    command:
      - /bin/sh
      - -c
      - |
        yarn docs:dev